.dropdown{
  position:relative;
  &.is-active {
    // looks pressed when active
    .dropdown__toggle {
      @extend .button_active;
      &:after, &:before {
        display: block;
      }
    }
    .dropdown__label{
      &:after {
        // turns arrow upsidedown on label
        @include transform(rotate(180deg));
        outline: none;
        text-shadow: 0 -1px 0 rgba(255,255,255,.4);
        top: -2px;
      }
    }
  }
}

  // Child nodes of .dropdown
  .dropdown__badge {
    position: absolute;
    top: 0;
    right: 0;
    height: 16px;
    min-width: 16px;
    padding: 0 4px;
    line-height: 14px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #595b12;
    border: 1px solid #d5d81b;
    border-bottom-color: #d0b01b;
    background-color: #feffba;
    text-shadow: 0 1px 0px rgba(255,255,255,.9);
    border-radius: 10000px;
    @include background-image(linear-gradient( rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%));
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,1), inset 0 -1px 1px rgba(255,255,255,.8  ), 0 1px 3px rgba(0,0,0,.15));
  }
  .dropdown__toggle {
    position: relative;
    &:after, &:before {
      border: solid transparent;
      content: "";
      display: none;
      height: 0;
      left: 15px;
      pointer-events: none;
      position: absolute;
      top: 100%;
      width: 0;
      z-index: 2;
    }

    &:after, &:before {
      border-color: transparent;
      border-bottom-color: #2d3237;
      border-width: 5px;
      margin-left: -5px;
      margin-top: -10px;
    }
    &:before {
      border-bottom-color: #090a0b;
      margin-top: -11px;
    }
  }

  .dropdown__label{
    &:after {
      @include transition(all .15s ease);
      color:#000;
      content:"\25BC";
      display: inline-block;
      font-size: 10px;
      margin-left: 2px;
      opacity:.5;
      position:relative;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
      top: -1px;
    }
  }

  .dropdown__menu{
    background: #2e333b;
    border-radius: 0 0 4px 4px;
    border: 1px solid #090a0b;
    box-shadow: 0 2px 4px rgba(0,0,0, .25);   
    display: none;
    left: 0;
    line-height: 1.2em;
    margin-top: -1px;
    padding: 4px 0;
    position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    top: 100%;
    white-space: nowrap;
    z-index: 1;
    .input_checkbox, .input_radio {
      float: left;
      vertical-align: middle;
      margin-right: 4px;
      @extend .border_dark;
    }
    label {
      disiplay: block;
    }
  }

    // child nodes of .dropdown__menu
    .dropdown__menu__heading{
      padding: 0 8px 4px 8px;
      line-height: 18px;
      color: #7a7c7f;
      font-size: 0.7333em;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .dropdown__menu__item{
      &:first-child {.dropdown__menu__button {margin-top: 0;}}
      &:last-child {.dropdown__menu__button {margin-bottom: 0;}}
    }

    .dropdown__menu__link{
      @extend .cf;
      @include transition(none);
      color: #fff;
      display: block;
      padding: 2px 8px;
      text-decoration: none;
      &:hover, &.hover-active {
        position: relative;
        z-index: 1;
        color: #fff;
        text-shadow: 0 1px rgba(26,49,77,.9);
        background-color: #5682d3;
        @include background-image(linear-gradient( rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%));  
        @include box-shadow(inset 0 1px rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.2), 0 0 0 1px #090a0b, 0 0 8px 1px rgba(255,255,255,.2));    
      } 
      &:active{
        background-image: none;
        box-shadow: inset 0 1px rgba(0,0,0,.2), 0 0 0 1px #090a0b;
        text-shadow: 0 1px 0 rgba(0,0,0,.4);
      };
      &.state_active {
        background-color: #56585c;
        background-color: rgba(255,255,255,.2);
      }
    }

    .dropdown__menu__button {
      margin: 4px;
      width: auto !important;
    }

    .dropdown__menu__divider{
      background-color:none;
      margin: 8px 0;
      border:none;
      border-top: 1px solid #111111;
      height: 0;
    }

    .dropdown__menu__timestamp {
      text-transform: uppercase;
      font-size: .666em;
      font-weight: bold;
      line-height: 1em;
      padding-top: 3px;
      letter-spacing: 1px;
      @include opacity(.5);
    }

// Extensions
.dropdown_middle {
  left: auto;
  right: auto;
  width: 100%;
  &:before, &:after{left:50%;}
}

.dropdown_right {
  left: auto;
  right: .8em;
  &:before, &:after{left:auto; right: 23px;}
}