/*
Post Tile [.post-tile]

Styleguide 7.0
*/


.post-tile {
  @extend .cf;
  margin-bottom: 1.6em;
  height: 232px;

  .list__item .post-tile {
    margin-bottom: 0;
  }
}

  .post-tile__thumb {
    display: block;
    margin-bottom: 8px;
  }

  .post-tile__thumb_tiny {
    width: 90px !important;
  }

  .post-tile__thumb_small {
    width: 140px !important;
  }

  .post-tile__thumb_medium {
    width: 228px !important;
  }

  .post-tile__thumb_large {
    width: 312px !important;
  }

  .post-tile__thumb .figure__image {
    width: 100%;
  }

  .post-tile__title {
    display: block;
    min-height: 32px;
    margin-bottom: 4px;
    font-weight: bold;
    line-height: 1.07em;
    @include hyphens;
  }

  .post-tile__details {
    @extend .cf;
  }

  .post-tile__author {
    line-height: 28px;
    margin-top: 4px;
    font-weight: bold;
    .figure_avatar { float: left; margin-right: 8px; }
    .figure_avatar_example { float: left; margin-right: 8px; }
  }

  .post-tile__author-name {
    display: block;
    width: 130px;
    @extend .ellipsis;
    @extend .text_color_1;
    float:left;
  }

  .post-tile__count {
    display: block;
    text-transform: capitalize;
  }

  .post-tile__count-link {
    color: #222;
    @include opacity(.5);
    &:hover { color: #222; @include opacity(.3); }
  }

  .post-tile__count-bullet {
    color: #222;
    @include opacity(.5);
  }
  
/*
Post Tile Example [.post-tile_example]

Styleguide 7.0.1
*/

.post-tile_example {
  .post-tile__title {
    color:#ccc;
    font-weight:bold;
    margin-bottom:5px;
  }
  .post-tile__thumb {
    border:1px dashed #b7b7b7;
    padding:3px;
    margin-bottom:10px;
    background:#f3f3f3;
    @include box-shadow(none);
    border-radius: 2px;
  }
  .post-tile__thumb .figure__body {
    border: 1px dashed #b7b7b7;
    &:before{
      @include box-shadow(none);
      height: 0;
      width: 0;
    }
  }
  .post-tile__thumb-inner {
    border:1px dashed #b7b7b7;
  }
  .post-tile__author-name{
    color:#d5d5d5;
    line-height:32px;
  }
}

/*
Post Tile [.post-tile_cta]

Styleguide 7.0.2
*/

.post-tile_cta {
  .post-tile__title {
    color:#ccc;
    font-weight:bold;
    margin-bottom:5px;
  }
  .post-tile__thumb {
    padding:3px;
    margin-bottom:10px;
    width: 178px;
    background: #dbe7fb;
    border: 1px dashed #b2ccfd;
    @include box-shadow(none);
    border-radius: 2px;
  }
  .post-tile__thumb .figure__body {
    border: 1px dashed #b2ccfd;
    height: 116px;
    &:before{
      @include box-shadow(none);
      height: 0;
      width: 0;
    }
  }
  .post-tile__thumb-inner {
    border:1px dashed #b2ccfd;
    background: #dbe7fb;
  }
  .post-tile__author-name{
    color:#d5d5d5;
    line-height:32px;
  }
  .post-tile_cta__action{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -67px;
    width:134px;
    padding: 0;
  }
}


/*
Post Tile Media

Styleguide 7.1
*/

.post-tile_list {
  height: auto;
  @extend .cf;
  .post-tile__thumb {
    width: 144px;
    margin-right: 1.6em;
    @extend .media__block;
  }
  .post-tile__metadata {
    @extend .media__content;
  }
}






.post-tile_box {
  background: #fff;
  border: 1px solid #ccc;
  padding: .8em;
  .post-tile__actions {
    margin-right: 1em;
  }
}

.post-tile_with-actions {
  position: relative;
  height: auto;
  @extend .cf;
  .post-tile__title {margin-right: 44px;}
  .post-tile__details {margin-right: 44px;}
  .icon_grabber { display: none; }
  .remove {display: none;}
  .post-tile__title {min-height: 0;margin-bottom: 4px; font-size: .8666em;}
  .post-tile__author {font-weight: normal; line-height: normal; margin-top: 0;}
  .post-tile__thumb {
    width: 144px;
    margin-right: .8em;
    margin-bottom: 0;
    @extend .media__block;
  }
  .post-tile__metadata {
    @extend .media__content;
  }
}

.post-tile__actions {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -16px;
  height: 26px;
  line-height: 26px;
  .button {
    @extend .button_square;
    @extend .button_icon;
  }
}

.ui-draggable-dragging .post-tile__actions {display: none;}

.with-grabber {
  padding-left: 44px;
  .icon_grabber {
    display: block;
    position: absolute;
    left: 1em;
    top: 50%;
    margin-top: -7px;
  }
}


/*
Featured Tile

Styleguide 7.2
*/

.featured-tile-grid{
  overflow: hidden;
  
  .featured-tile {
    float: left;
    width: 33.33333%;
    padding: 0px;
  }
}

.featured-tile {
  float: left;
  position: relative;
  overflow: hidden;
  height: 260px;
  background: #181819;
  a {color: #fff; &:hover{color:#fff;}} 
}
  .featured-tile__figure{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 1px 1px 1px 0;
    .figure__body {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: block;
      background-size: cover;
      background-position: 50% 50%;
    }
    .figure__image {
      min-height: 260px;
      width: auto;
      min-width: 100%;
    }
    &:before {
      z-index: 3;
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include box-shadow(inset 0 0 0 1px rgba(255,255,255,.2));
    }
  }
  .featured-tile__metadata {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1px 1px 1px 0;
    overflow: hidden;
    text-shadow: 0 1px rgba(0,0,0,.5);
    background: #222;
    background: rgba(0,0,0,.6);
    padding: 12px;
    color: #fff;
    @include bf-box-sizing();
  }
  .featured-tile__title {
    width: auto;
    height: 100%;
    width: 100%;
    display: block;
    font-weight: bold;
    @extend .milli;
    @extend .ellipsis;
  }

  .featured-tile__details {
    font-size: .75em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .7;
    margin-bottom: .5em;
  }
  .featured-tile__author {
    font-weight: bold;
  }

  .featured-tile {
    &:hover .featured-tile__metadata {
      background-color: #5a78e9;
      @include opacity(.8);
      background-image: none;
    }
  }

  .featured-tile .featured-tile__figure {
    border-bottom: 0;
  }

@media screen and (max-width: 640px) {
  .featured-tile {
    width: 100% !important;
    float: none;
    height: 70px;
    .featured-tile__title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .featured-tile__figure{
      .figure__image {
        min-height: 72px;
        width: auto;
        min-width: 100%;
      }
    }
  }
}

.featured-tile:last-child {
  .featured-tile__figure{
    margin-left: 0;
  }
  .featured-tile__metadata {
    margin-left: 0;
  }
}



/*
Featured Tile Example

Styleguide 7.2.1
*/

.featured-tile_example {
  background: #f3f3f3;
  border: 1px dashed #cccccc;
  color:#ccc;
  text-shadow: none;
  border-right: 0;
  @include box-shadow(none);
  @include bf-box-sizing();

  .featured-tile__metadata {
    text-shadow: none;
  }

  .featured-tile__title {
    height: auto;
    color:#ccc;
  }

  .featured-tile__author-name {
    font-weight:bold;
    color:#ccc;
  }

  &:hover {
    background: #f3f3f3;
    color: #cccccc;
  }

  &:hover .featured-tile__metadata {
    color: #cccccc;
  }

  &:hover .featured-tile__metadata {
    color: #cccccc;
  }
}



/*
Featured Tile  CTA

Styleguide 7.2.2
*/

.featured-tile_cta {
  @extend .featured-tile_example;
  background: #dbe7fb;
  border: 1px dashed #b2ccfd;
  color:#c1cadc;
  .featured-tile__title {
    color:#c1cadc;
  }
  .featured-tile__metadata {
    text-shadow: none;
  }
  .featured-tile__figure {
    display: block;
    text-align:center;
    height: 100%;
  }
  .figure__image {
    visibility: hidden;
  }
  .featured-tile__author-name{
    color:#c1cadc;
  }
  .featured-tile__cta{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -67px;
    margin-top: -20px;
    width:134px;
    padding: 0;
    z-index: 5;
  }
  &:hover {
    background: #dbe7fb;
  }
}

// Hacks
.private.post-tile {
  .figure__details {
    width: auto;
    &:before {
      content: "Join or Sign In To View";
      float: left;
      display: block;
      font-size: 10px;
      line-height: 27px;
      height: 27px;
      padding: 0 6px 0 10px;
      border-right: 1px solid #ccc;
    }
    .figure__media-type {
      @extend .icon_lock;
    }
  }
}

.private.featured-tile {
  .figure__media-type {
    @extend .icon_lock;
  }
}




.universal-tile {
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  border-radius: 4px;
  @include box-shadow(0 1px 3px rgba(0,0,0,.15));
  &:hover {.universal-tile__thumb {@include opacity(.8);}}
  margin-bottom: 1.6em;
}

.universal-tile__header {
  position: relative;
  margin: -1px -1px 0 -1px;
  height: 152px;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  color: #fff;
  a {color: #fff;}
  a:hover {color: #fff;}
}

.universal-tile__title {
  display: block;
  position: relative;
  z-index: 2;
  padding: 12px;
  font-weight: bold;
  line-height: 1.2em !important;
  @extend .micro;
} 

.universal-tile__activity {
  display: block;
  position: relative;
  z-index: 2;
  padding: 0 12px 12px 12px;
  font-size: .75em;
  line-height: 1.3em;
}

.universal-tile__activity__header {
  font-weight: bold;
}

.universal-tile__thumb {
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &:before {
    z-index: 2;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid transparent;
    border-color: rgba(0,0,0,.2);
    border-radius: 4px 4px 0 0; 
  }
  .figure__body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 4px 4px 0 0; 
  }
  .figure__background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 4px 4px 0 0; 
  }
  .figure__image { 
    margin-top: -60px;
    position: relative;
    z-index: 0;
  }
}

.universal-tile__footer {
  position: relative;
  padding: 12px;
  @extend .media;
  .figure {
    float: left;
    display: block;
    margin-right: 6px;
  }
}

.universal-tile__details {
  display: table-cell;
  width: 10000px;
  height: 32px;
  line-height: 16px;
}


.universal-tile__author {
  display: block;
  font-weight: bold;
  color: #222; 
  line-height: 1em;
}

.universal-tile__count {
  display: inline-block;
  padding-top: 2px;
  font-size: .8666em; 
  color: #222; 
  line-height: 1em;
  @include opacity(.5);
}

.universal-tile__type {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 32px;
  height: 32px;
  background: #5a78e9;
  border-radius: 10000px;
  .icon {margin: 6px;}
}

.universal-tile_question {
  .universal-tile__header {
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    color: #222;
    color: rgba(0,0,0,.5);
    a {color: #222;}
    a:hover {color: #222;}
  }
  .universal-tile__type {
    background: #b0de4b;
    border-color: #acd474;
  }
}

.universal-tile_series {
  .universal-tile__activity {
    .list {
      margin-left: 18px;
    }
    .list__item a{
      @extend .ellipsis;
    }
  }
  .universal-tile__type {
    background: #9a5ae9;
    border-color: #252c3f;
  }
}

@media screen and (max-width: 1008px) {
  .universal-tile__thumb {
    .figure__image {
      margin-top: 0;
    }
  }
  .universal-tile_series {
    .universal-tile__activity {
      .list {
        margin-left: 18px;
      }
      .list__item  a{
        width: 220px;
        @extend .ellipsis;
      }
    }
    .universal-tile__type {
      background: #3a475a;
      border-color: #252c3f;
    }
  }
}


.universal-tile_list {
  border-radius: 4px;
  @extend .cf;
  .universal-tile__content {
    @extend .cf;
    display: table-cell;
    width: 10000px;
    *display: block;
    *width: auto;
    position: relative;
  }
  .universal-tile__header {
    float: left;
    width: 54.09836066%;
    position: relative;
    padding: 10px 12px 0 12px;
    margin: 0;
    height: auto;
    text-shadow: none;
    color: #222;
    @include bf-box-sizing();
    a {color: #222;}
    a:hover {color: $linkbluehover;}
    .universal-tile__title {
      position: relative;
      display: block;
      height: 48px;
      overflow: hidden;
      margin-top: 8px;
      font-size: 1em !important;
      font-weight: normal !important;
      padding: 0;
      color: $linkblue;
      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20px;
        @include background(linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255,1) 100%));
      }
    }
  }
  .universal-tile__footer {
    width: 42.62295082%;
    float: right;
    padding: 0;
  }
  .universal-tile__avatar {
    float: left;
    margin: -1px -1px -1px 0;
    width: 84px;
    .figure__body:before {
      border-radius: 4px 0 0 4px;
    }
    .figure__image {
      @include box-shadow(none);
      border-radius: 4px 0 0 4px;
    }
  }
  .universal-tile__details {
    display: block;
    width: auto;
    height: auto;
    line-height: 1em;
  }
  .universal-tile__author {
    padding: 0;
    display: inline-block;
    font-size: 1em;
  }
  .universal-tile__count {
    font-size: 1em;
    padding: 0;
    display: inline-block;
  }
  .universal-tile__activity {
    border: 1px dotted #ccc;
    margin: 12px 0;
    border-top: none;
    border-bottom: none;
    height: 58px;
    margin-right: 83px;
    color: #999;
    padding: 0 12px;
    @include bf-box-sizing();
    a { color: #999; width: 184px; display: inline-block; }
  }
  .universal-tile__type {
    right: 26px;
    top: 26px;
  }
}


@media screen and (max-width: 1008px) {
  .universal-tile_list{
    .universal-tile__header {
      float: none;
      width: auto;
      margin-right: 84px;
    }
    .universal-tile__footer {
      position: absolute;
      top: 0;
      right: 0;
      width: 84px;
      height: 82px
    }
    .universal-tile__activity {
      display: none;
    }
  }
}

@media screen and (max-width: 640px) {
  .universal-tile_list{
    margin-bottom: .8em;
    border-radius: 0;
    margin: 0;
    border-width: 1px;
    margin-top: -1px;
    .universal-tile__avatar {
      width: 32px;
      margin: 6px;
      .figure__body:before {
        border-radius: 4px;
      }
      .figure__image {
        border-radius: 4px;
      }
    }
    .universal-tile__header {
      float: none;
      width: auto;
      margin-right: 0;
      padding-left: 0;
    }
    .universal-tile__footer {
      position: absolute;
      top: 0;
      right: 0;
      margin: 2px;
      width: 26px;
      height: 26px;
      .universal-tile__type {
        width: 24px;
        height: 24px;
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        border-radius: 4px;
        .icon {margin: 5px 6px; display: block;}
      }
    }
  }
}