.heading {
    display: block;
    line-height: 1.2em;
}

.h_ultra {
    font-size: #{$font-size * 3.75}px;
    line-height: 1.2em;
}

.h1 {
    font-size: #{$font-size * 3}px;
    line-height: 1.2em;
    text-rendering: optimizeLegibility;
}

.h2 { // 32px
    font-size: #{$font-size * 2}px;
    line-height: 1.2em;
    text-rendering: optimizeLegibility;
}

.h3 { // 24px
    font-size: #{$font-size * 1.5}px;
    line-height: 1.2em;
    text-rendering: optimizeLegibility;
}

.h4  {
    font-size: #{$font-size * 1.3125}px;
    line-height: 1.2em;
    text-rendering: optimizeLegibility;
}

.h5 { 
    font-size: #{$font-size * 1.125}px;
    line-height: 1.2em;
}

.h6 {
    font-size: #{$font-size}px;
    line-height: 1.2em;
}

.h7 {
    font-size: #{$font-size * 0.875}px;
    line-height: 1.2em;
}

.h8 {
    font-size: #{$font-size * 0.75}px;
    line-height: 1.2em;
}