// off-white
@mixin theme-1 {
  color: #42454c;
  background: #e4e8f1;
  border-color: #b6bcca;
  border-bottom-color: #8f94a2;
  text-shadow: 0 1px 0px rgba(255,255,255,1);
  @include background-image(linear-gradient( rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%));
  box-shadow: inset 0 1px 0 rgba(255,255,255,.9), inset 0 -1px 1px rgba(255,255,255,.7  ), 0 1px 3px rgba(0,0,0,.15);
  &.button:hover{ background-color: #edf0f6; color: #42454c;}
  &.button:active { background-color: #e4e8f1; }
}
@mixin theme-1__item {
  border-color: #b6bcca;
} 

// color_dk-grey
@mixin theme-2 {
  color: #ffffff;
  border-color: #2c2d33;
  border-bottom-color: #0a0b0d;
  background: #434953;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  @include background-image(linear-gradient( rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%));
  box-shadow: inset 0 1px 0 rgba(255,255,255,.20), inset 0 -1px 1px rgba(255,255,255,.10), 0 1px 3px rgba(0,0,0,.15);
  &.button:hover { color: #fff; background-color: #4e4f57;}
  &.button:active { background-color: #45464C; }
}
@mixin theme-2__item {
  border-color: #2c2d33;
}

// Bright blue 
@mixin theme-3 {
  background-color: $link-color;
  // border-color: #375da5;
  border-color: darken($link-color, 8%);
  // border-bottom-color: #1a2f57;
  border-bottom-color: darken($link-color, 30%);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4), inset 0 -1px 1px rgba(255,255,255,.2), 0 1px 3px rgba(0,0,0,.15);
  @include background-image(linear-gradient( rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%));
  &.button:hover {color: #fff; background-color: $link-color-hover;}
  &.button:active { background-color: $link-color; }
}
@mixin theme-3__item {
  border-color: #375da5;
} 

// color_green
@mixin theme-4 {
  color: #fff;
  border-color: #2e9b3b;
  border-bottom-color: #21822d;
  background-color: #41be50;
  @include background-image(linear-gradient( rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%));
  box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 -1px 1px rgba(255,255,255,.2), 0 1px 3px rgba(0,0,0,.15);
  text-shadow: 0 1px 0 rgba(0,0,0,.4);
  &.button:hover {color: #fff; background-color: #59d168;}
  &.button:active { background-color: #41be50; }
}
@mixin theme-4__item {
  border-color: #7fa34b;
} 

// red
@mixin theme-5 {
  color: #fff;
  background-color: #C42424;
  border-color: #9e2626;
  border-bottom-color: #5d1616;
  text-shadow: 0 1px 0px rgba(0,0,0,.3);
  @include background-image(linear-gradient( rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%));
  box-shadow: inset 0 1px 0 rgba(255,255,255,.20), inset 0 -1px 1px rgba(255,255,255,.10), 0 1px 3px rgba(0,0,0,.15);
  &.button:hover { background-color: #da3434; color: #fff;}
}
@mixin theme-5__item {
  border-color: #9e2626;
} 

// yellow
@mixin theme-6 {
  color: #5b4f1d;
  border-color: #ecb41f;
  border-bottom-color: #c9740f;
  background-color: #fed325;
  text-shadow: 0 1px 0px rgba(255,255,255,.9);
  @include background-image(linear-gradient( rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%));
  box-shadow: inset 0 1px 0 rgba(255,255,255,.6), inset 0 -1px 1px rgba(255,255,255,.4), 0 1px 3px rgba(0,0,0,.15);
  &.button:hover {color: #5b4f1d; background-color: #fdd73f;}
  &.button:active { background-color: #fed325; }
}
@mixin theme-6__item {
  border-color: #e0c649;
} 

// Light blue used for follow button
@mixin theme-7 {
  background-color: #afc5ff;
  border-color: #9bb8ec;
  border-bottom-color: #6b8ece;
  color: #192e71;
  text-shadow: 0 1px 0 rgba(255,255,255,.6);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.6), inset 0 -1px 1px rgba(255,255,255,.4), 0 1px 3px rgba(0,0,0,.15);
  @include background-image(linear-gradient( rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%));
  &.button:hover {color: #192e71; background-color: #bdd3ff;}
  &.button:active { background-color: #afc5ff; }
}
@mixin theme-7__item {
  border-color: #375da5;
} 

// white
@mixin theme-8 {
  color: #222;
  background: #fff;
  border-color: #ccc;
  border-bottom-color: #bbb;
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
  &.button:hover { background-color: #f8f8f8; color: #555;}
  &.button:active { background-color: #fff; }
}
@mixin theme-8__item {
  border-color: #ccc;
} 

// transparent
@mixin theme-9 {
  color: #222;
  background: transparent;
  border-color: rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8), 0 1px 0 rgba(255,255,255,.8);
  &.button:hover { background-color:rgba(255,255,255,.02); color: #555;}
  &.button:active { background-color:rgba(255,255,255,.1); }
}
@mixin theme-9__item {
  border-color: #ccc;
}

// dark border
@mixin border_dark {
  border-color: #18191D;
}

// shadow and gradient mods
@mixin theme-no_shadows {
  box-shadow: none;
}

@mixin theme-no_gradient {
  background-image: none;
}

@mixin theme-drop-shadow-only {
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

@mixin theme-flat {
  background-image: none;
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
  text-shadow: none;
}

@mixin flat {
  box-shadow: none;
  background-image: none;
  text-shadow: none;
}

@mixin theme-inset {
  box-shadow:  inset 0 1px 1px rgba(0,0,0,.15), 0 1px rgba(255,255,255,.2);
  &.button:active {box-shadow:  inset 0 2px 6px rgba(0,0,0,.3), 0 1px rgba(255,255,255,.2);}
}

@mixin theme-inset-white {
  box-shadow: 0 1px 0 rgba(255,255,255, 0.9), inset 0 1px 1px rgba(0,0,0,.15), inset 0 -1px 1px rgba(255, 255, 255, 0.2);
  &.button:active {box-shadow:  inset 0 2px 6px rgba(0,0,0,.3), 0 1px rgba(255,255,255,.2);}
}

@mixin theme-inset_deep {
  box-shadow: inset 5px -5px 4px -4px rgba(0, 0, 0, 0.4), inset -5px 6px 5px -5px rgba(0, 0, 0, 0.6);
}

@mixin theme-on-dark {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.20), inset 0 -1px 1px rgba(255,255,255,.10), 0 1px 3px rgba(0,0,0,.9);
}

// Glow used for icons in header
@mixin glow {
  content: "";
  position: relative;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 200px;
  z-index: 0;
  @include transition(all .4s linear);
}
@mixin glow_white-hover {
  background-color: rgba(255,255,255,.1);
  box-shadow: 0 0 5px 5px rgba(255,255,255, .1);
}
@mixin glow-white-active {
  background-color: rgba(255,255,255,.2);
  box-shadow: 0 0 5px 5px rgba(255,255,255, .2);
}
