// Base Element
.button {
  @extend .no-select;
  @include bg_1;
  @include box-sizing(border-box);
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 40px;
  line-height: 38px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  &:active {
    background-image: none !important;
    box-shadow: inset 0 2px 6px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,.2) !important;
  }
}

  // Children
  // Should be used with .button_icon
  .button_icon__highlight {
    display: block;
    float: left;
    width: 38px;
    height: 100%;
    background: transparent;
    background: rgba(12,12,22,.15);
    border-radius: 3px 0 0 3px;
    box-shadow: 1px 0 0 rgba(12,12,22,.3);
    margin-right: 16px;
  }

  .button_size_small .button_icon__highlight {
    margin-right: 8px;
    width: 24px;
  }
  .button_size_medium .button_icon__highlight {
    margin-right: 10px;
    width: 30px;
  }
  .button_size_large .button_icon__highlight {
    margin-right: 20px;
    width: 58px;
  }


// Extensions: sizes
.button_size_small {
  height: 26px;
  padding:0 8px;
  font-size: 14px; // 12px
  line-height: 24px;
}

.button_size_medium {
  height: 32px;
  padding:0 10px;
  line-height: 30px;
}

.button_size_large {
  height: 60px;
  font-size: 1.4em; 
  padding: 0 20px;
  line-height: 58px;
}

.button_gigantic {
  display: block;
  height: 162px;
  text-align: center;
  color: #222;
  @extend .bg_7;
}

.button_square {
  display: block;
  height: 26px;
  width: 26px;
  line-height: 26px;
  text-align: center;
  @include opacity(1);
  padding: 0;
}

.button_square_small {
  display: block;
  height: 26px;
  width: 26px;
  line-height: 26px;
  padding: 0;
}

.button_square_medium {
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  padding: 0;
}

.button_square_large {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  @include opacity(1);
  padding: 0;
}

.button_full {
  width: 100% !important;
  display: block !important;
  float: none !important;
  padding: 0 !important;
}

// Extension: states
.button_active{
  box-shadow: inset 0 2px 6px rgba(0,0,0,.2), inset 0 1px 1px rgba(0,0,0,.2);
  background-image: none;
}

.button.state_disabled, .button.is-disabled {
  @include opacity(.3);
}


// Extension: Stacked label button
.button_detailed {
  height: 78px;
  padding: 0 20px;
  line-height: 1em;
}

.button_detailed__title {
  display: block;
  font-size: 1.8em;
  line-height: 1em;
  margin: 18px 0 4px;
}

.button_detailed__description {
  display: block;
  line-height: 1em;
}


// Extension: Circle buttons
.button_circle {
  border-radius:10000px;
}

// Extension: Close button
.button_close {
  position: absolute;
  top: -12px;
  right: -12px;
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 2px solid #f3f3f3 !important;
  background: #333 !important;
  line-height: 19px;
  padding: 0;
  @extend .button_circle;
  box-shadow: inset 0 1px rgba(0,0,0,.9), 0 1px 3px rgba(0,0,0,.15), 0 0 1px 1px rgba(0,0,0,.5) !important;
  .icon {margin: 0 auto; display: block;}
  &:hover{background: #444;}
}



// Extension: Buttons with highlighted icons
.button_icon {
  padding-left: 0 !important;
  white-space:nowrap;
}



// Extension: Example dashed button
.button_example {
  box-shadow: none;
  background-image: none;
  background-color: transparent;
  color: #a1a0a0;
  border: 1px dashed #ccc;
  display: block;
  &:hover { background-color: transparent; color: #a1a0a0; cursor: default; };
  &:active { box-shadow: none; }
}

// A bar of buttons for sorting, and what not.
.button-bar {
  @extend .cf;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  .button {
    float: left;
    padding: 0;
    width: 50%;
    border-radius: 0;
    border-left-width: 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 -1px 1px rgba(255,255,255,.2);
  }
  .button:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-left-width: 1px; }
  .button:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
  .button:active {
    position: relative;
    z-index: 1;
    box-shadow: inset 0 2px 6px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,.2);
  }
  .button.active, .button.current {
    position: relative;
    z-index: 1;
    background-color: #5682d3;
    border-color: #375da5;
    border-top-color: #1a2f57;
    color: #fff;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 6px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,.2);
    background-image: none;
    &:hover { cursor: default; }
  }
}

.button-bar_3 .button {padding: 0; width: 33.333%;}
.button-bar_4 .button {padding: 0; width: 25%;}
.button-bar_5 .button {padding: 0; width: 20%}
.button-bar_6 .button {padding: 0; width: 16.66%}

.button-bar_sort {
  margin: .8em 0 1.6em 0;
  text-transform: capitalize;
}

.button-bar_tool {
  box-shadow: none;
  .button { width: 32px; @extend .bg_inset-white;}
}

.button_play {
  border:1px solid #0f1010;
  width:80px;
  height:80px;
  border-radius:80px;
  color: #ffffff;
  border-color: #2c2d33;
  border-bottom-color: #0a0b0d;
  background: #1a1a1c;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  @include background-image(linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%));
  box-shadow: inset 0 1px 0 rgba(255,255,255,.20), inset 0 -1px 1px rgba(255,255,255,.10), 0 1px 3px rgba(0,0,0,.15);
  &.button:hover { color: #fff; background-color: #4e4f57;}
  &.button:active { background-color: #45464C; }
  &:after{
    font-size:34px;
    content:"\25BA";
    position:absolute;
    left: 50%;
    top: 50%;
    margin-top: -18px;
    position: absolute;
    margin-left: -13px;
    text-shadow:01px 1px rgba(0,0,0,.9);
  }
}




.button_with-options {
  display: block;
  @extend .cf;
  .button_main {
    @extend .media__content;
    padding: 0 !important;
  }
  .button_options {
    &:before {
      content:"\25BC";
      position: relative;
      display: inline-block;
      top: -2px;
      font-size: 10px;
      @include transition(all .15s ease);
    }
  }
  .dropdown {
    display: block;
    float: right;
    margin-left: 2px;
    @extend .cf;
    &.active {
      .button {
        @extend .button_active;
      }
      .button_options {
        &:before {
          top: -3px;
          -moz-transform:rotate(180deg);
          -webkit-transform:rotate(180deg);
          transform:rotate(180deg);
          text-shadow: 0 -1px 0 rgba(255,255,255,.4);
          outline: none;
        }
      }
    }
  }
  .dropdown__menu {
    left: auto;
    right: 0;
    &:before, &:after{left:auto; right: 14px;}
  }
}

.button__badge {
  @extend .dropdown__badge;
  margin: -8px -8px 0 0;
}

.button_flat {
  @extend .flat;
  border-color: transparent;
  &:active {
    box-shadow: none !important;
  }
  .button_icon__wrapper {
    box-shadow: 1px 0 0 rgba(255,255,255,1) !important;
  }
}

.button_flat_transparent {
  background: #ccc;
  background: rgba(0,0,0,.1);
  color: #000;
  color: rgba(0,0,0,.4);
  &:hover {
    color: rgba(0,0,0,.7);
    background: rgba(0,0,0,.05);
  }
  &:active {
    background: rgba(0,0,0,.2);
  }
}

// Extensions: colors
.button_like {
  @extend .bg_8;
}

.button_follow {
  @extend .bg_12;
}

.button_sign-in, .button_create, .button_invite, .button_sign-up {
  @extend .bg_3
}

.button_primary, .button_success, .button_approve, .button_publish {
  @extend .bg_4;
}

.button_remove, .button_error, .button_negative {
  @extend .bg_10;
}


// Bloomfire specific extensions
.button_contribute {
  width: 130px; margin: 0 6px;
}

.button_publish, .button_edit-content {
  width: 150px;
}

.button_flat_accept {
  background: #a3e51b;
  color: rgba(0,0,0,.6);
  &:hover {
    color: rgba(0,0,0,.6) !important;
    background: #aff324 !important;
  }
  &:active {
    background: #8cc516 !important;
  }
  .button_icon__wrapper {
    background: #a3e51b;
  }
}

.button_flat_reply, .button_flat_post {
  background: #5a78e9;
  color: #fff;
  &:hover {
    color: #fff !important;
    background: #6f8cfa !important;
  }
  &:active {
    background: #4563d5 !important;
  }
}

.button_flat_post {
  background: #5a78e9 !important;
  color: #fff !important;
}

.button_flat_hi-five {
  background: #fed325;
  color: rgba(0,0,0,.6);
  &:hover {
    color: rgba(0,0,0,.6) !important;
    background: #ffe063 !important;
  }
  &:active {
    background: #edc10f !important;
  }
  .button_icon__wrapper {
    background: #fed325;
  }
}